#slider {
    background-image: url("../../assets/images/ny.jpg");
   margin-top: 46px;
   background-color: #333;
   padding-top: 40%;
   background-size: cover;
   background-position: top center;
   padding-bottom: 40px;
}
