@keyframes animation_main {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    80% {
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes animation_sub {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    80% {
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0, 0);
    }
}

@keyframes modelShow {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}