.item-absolute {
    position: relative;
}
.text-white {
    color: #fff !important;
}
.bg-white {
    background-color: #fff;
}
.mg-right {
    margin-right: 16px;
}
.mg-top-bt-15px {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bg-model-grey {
    background-color: #009688;
}

.model.open {
    display: flex;
}
.text-center {
    text-align: center;
}
.row {
    padding-left: 16px;
    padding-right: 16px;
}

.mg-top-0px {
    margin-top: 0 !important;
}
.pd-right-left-8px {
    padding-left: 8px;
    padding-right: 8px;
}
